<div class="registration">
  <div class="registration-form">
      <h3 class='form-head'>Update your profile</h3>
      <div class="form-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

        <div class='form-row'>
          <div class="col form-group">
            <%= f.text_field :first_name, autofocus: true, class: 'form-control form-control-sm', required: true %>
          </div>

          <div class="col form-group">
            <%= f.text_field :last_name, class: 'form-control form-control-sm', placeholder: "Last Name", required: true %>
          </div>
        </div>

        <div class='form-row'>
          <div class="col form-group">
            <%= f.text_field :username, class: 'form-control form-control-sm', placeholder: "Username", required: true %>
          </div>

          <div class="col form-group">
            <%= f.email_field :email, class: 'form-control form-control-sm', placeholder:"Email Address"%>
          </div>
        </div>

        <div class='form-row'>
          <div class="col form-group">
            <%= f.text_field :qoute, class: 'form-control form-control-sm', placeholder: 'Say something light (quote)'%>
          </div>

          <div class="col form-group">
            <%= f.text_field :job_description, class: 'form-control form-control-sm', placeholder: "Job Description" %>
          </div>
        </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "Password (leave blank if you don't want to change it)"  %>
          </div>

          <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: "Confirm your password"  %>
          </div>

          <div class="form-group">
            <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: "Current Password (we need your current password to confirm your changes)" %>
          </div>

          <div class="form-group">
            <%= f.submit "Update", 'data-disable-with' => "Updating....", class: 'form-button' %>
          </div>
        <% end %>
        <hr>

        <h4>Cancel my account</h4>

        <%= button_to "Cancel my account", registration_path(resource_name), class: "btn btn-danger", data: { confirm: "Are you sure? You cannot undo this." }, method: :delete %>

        <%= link_to "Back", :back %>
      </div>
  </div>
</div>
