<div class='auth'>
  <div class='row'>
    <div class='purple col-md-6'></div>
    <div class='yellow col-md-6'></div>
  </div>

  <div class="sign-up">
  <div class="col-sm-12">

    <h3 class="text-center">Sign Up</h3>
    <%= link_to 'Home', root_path, class: 'home'%>
    <hr>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), validate: true) do |f| %>

    <div class='form-row'>
      <div class="col form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: 'form-control form-control-sm' %>
      </div>

      <div class="col form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: 'form-control form-control-sm'%>
      </div>
    </div>

    <div class='form-row'>
      <div class="col form-group">
        <%= f.label :username %>
        <%= f.text_field :username, class: 'form-control form-control-sm'%>
      </div>

      <div class="col form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control form-control-sm'%>
      </div>
    </div>

    <div class='form-row'>
      <div class="col form-group">
        <%= f.label :qoute %>
        <%= f.text_field :qoute, class: 'form-control form-control-sm', placeholder: 'Something light'%>
      </div>

      <div class="col form-group">
        <%= f.label :job_description %>
        <%= f.text_field :job_description, class: 'form-control form-control-sm'%>
      </div>
    </div>

    <div class='form-row'>
      <div class="col form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <%= f.password_field :password, autocomplete: "off", class: 'form-control form-control-sm', placeholder: "#{@minimum_password_length} characters minimum" %>
        <% end %><br />
      </div>

      <div class="col form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control form-control-sm' %>
      </div>
    </div>

      <div class="form-group">
        <%= f.submit "Sign up", 'data-disable-with' => "Signing up....", class: "btn btn-primary btn-block btn-lg" %>
      </div>
    <% end %>
    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
</div>
