<div class="details-sidebar">
  <div class='about-header'>
    <h6>About <%= channel_details(chatroom.id) %></h6><%= fa_icon "close closer" %>
  </div>

  <div class='about-body'>
    <button class="accordion"><%= fa_icon "info-circle" %> Channel Details</button>
    <div class="panel">
      <%= render "chatrooms/check_purpose", chatroom: @chatroom %>

      <div class='purpose-panel'>
        <p><strong>Created</strong></p>
        <p>Created by <em><%= chatroom.creator %></em> on <%= chatroom.timestamp_1 %> at <%= chatroom.timestamp_2 %></p>
      </div>
    </div>

    <button class="accordion" id="member"><%= fa_icon "user" %> <%= show_user_count(chatroom.id) %> Members</button>
    <div class="panel purpose-panel">
      <div class="member-list">
        <% show_members(chatroom.id).each do |member| %>
          <p><%= fa_icon "circle" %> <%= member.user.username %></p>
        <% end %>
      </div>
      <%= react_component("ChatroomMembers", props: { members: show_members(chatroom.id)}) %>
    </div>

    <button class="accordion"><%= fa_icon "map-pin" %> <span class='pinned-msg-count'><%= pinned_message_length(chatroom.id) %></span> Pinned Items</button>
    <% if pinned_message_length(chatroom.id) > 0 %>
      <%= render "messages/pinned_messages", chatroom: chatroom %>
    <% else %>
      <div class='panel'>
        <p class='empty-pin'>No items have been pinned yet! click the pin icon on the message to stick them here.</p>
      </div>
    <% end %>

    <button class="accordion"><%= fa_icon "star" %> Highlights</button>
    <div class="panel">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

  <button class="accordion"><%= fa_icon "folder-open" %> Shared Files</button>
  <div class="panel">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  </div>
</div>
