<% if !chatroom.direct_message && !chatroom.purpose.nil? %>
      <div class='purpose-panel' id='purpose-panel'>
        <div class='purpose'>
          <span><strong>Purpose</strong></span>
          <span class='hide-edit-btn'>Edit</span>
          <p class='channel-purpose'><%= chatroom.purpose %><p>
        </div>
       <div id='purpose-form'>
        <%= render 'chatrooms/purpose_form' %>
       </div>
      </div>
    <% elsif !chatroom.direct_message %>
      <% if chatroom.purpose.present? %>
        <div class='purpose-panel' id='purpose-panel'>
          <div class='purpose'>
            <span><strong>Purpose</strong></span>
            <span class='hide-edit-btn'>Edit</span>
            <p class='channel-purpose'>Add chatroom purpose<p>
          </div>
        <div id='purpose-form'>
          <%= render 'chatrooms/purpose_form' %>
        </div>
        </div>
      <% end %>
    <% else %>
      <div class="user-profile">
        <div class="user-image"></div>
        <div class="user-info">
          <p class='username'><%= reciever_info[0].user_username %></p>
          <p class='full-name'><%= reciever_info[0].user_fullname %></p>
          <p class='job-description'><%= reciever_info[0].user_job_description %></p>
        </div>
      </div>
    <% end %>
