<%= form_with(model: chatroom, local: true) do |form| %>
  <% if chatroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chatroom.errors.count, "error") %> prohibited this chatroom from being saved:</h2>

      <ul>
      <% chatroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class='form-group'>
      <%= form.text_field :name, id: :chatroom_name, autofocus: true, class: 'form-control form-control-sm', placeholder: "Name", required: true %>
    </div>
    <div class='form-group'>
      <%= form.text_field :purpose, id: :chatroom_purpose, class: 'form-control form-control-sm', placeholder: "Purpose (Optional)" %>
    </div>
    <% if controller.action_name == 'new' %>
      <div class="form-group access-dropdown">
        <%= form.label :access %>
        <%= form.select :access, options_for_select(['Public', 'Private'], selected: @chatroom.access), class: 'form-control' %>
      </div>
    <% end %>
    <%= form.hidden_field :creator, value: current_user.username %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
