
<div class="index-page">
<%= link_to 'New Chatroom', new_chatroom_path, { :class=>"btn btn-primary new-chatroom-btn" } %>
<h3>Chatrooms</h3>

<div class="room-container">
  <% if @chatrooms.length > 0 %>
    <% @chatrooms.each do |chatroom| %>
    <div class="card">
      <%= chatroom.name %>
        <div class="icon-link">
        <p><%= link_to chatroom  do %>
          <%= fa_icon "eye" %>
        <% end %></p>
        <p><%= link_to edit_chatroom_path(chatroom) do %>
          <%= fa_icon "edit" %>
        <% end %></p>
        <% if current_user.admin? %>
          <p><%= link_to chatroom, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= fa_icon "trash" %>
          <% end %></p>
        <% end %>
        <p><%= link_to chatroom_chatroom_users_path(chatroom), method: :post do %>
          <%= fa_icon "sign-in" %>
        <% end %></p>
        
          <p><%= link_to chatroom_chatroom_users_path(chatroom), method: :delete do %>
            <%= fa_icon "times-circle" %>
          <% end %></p>
        </div>
      </div>
    <% end %>
  <% else %>
      <div class="no-room">
        <h4>No Chatroom yet!!!</h4>
      </div>
  <% end %>
  </div>
</div>
