
<h1>Chatrooms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chatrooms.each do |chatroom| %>
      <tr>
        <td><%= chatroom.name %></td>
        <td><%= link_to chatroom  do %>
          <%= fa_icon "eye" %>
          <% end %>
        </td>
        <td><%= link_to edit_chatroom_path(chatroom) do %>
          <%= fa_icon "edit" %>
          <% end %>
        </td>
        <td><%= link_to chatroom, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <%= fa_icon "trash" %>
          <% end %>
        </td>
        <td><%= link_to chatroom_chatroom_users_path(chatroom), method: :post do %>
          <%= fa_icon "sign-in" %>
          <% end %>
        </td>
        <td><%= link_to chatroom_chatroom_users_path(chatroom), method: :delete do %>
          <%= fa_icon "times-circle" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chatroom', new_chatroom_path %>
