<div class='fluid-container main'>
  <div class='row'>
    <div class='col left-side'>
       <%= render "layouts/partials/left_panel" %>
    </div>

    <div class='col right-side'>

 <div class='container-wrapper' id='container-wrapp'>
        <div class='message-side'>
          <div class="name-header">
              <div class='heading'>
                <div><strong><%= @chatroom.name.capitalize %></strong>
                  <div class="users">
                    <span data-toggle="tooltip" data-placement="top" title="Star this channel">
                      <%= fa_icon "star color-star" %>
                    </span> | <%= fa_icon "users" %> <%= show_user_count(@chatroom.id) %>  | <%= render "chatrooms/check_topic", chatroom: @chatroom %> | <%= reciever_fullname %>
                  </div>
                </div>
                <div class='info-icons'>
                  <span data-toggle="tooltip" data-placement="top" title="Make a call"><%= fa_icon "phone" %></span>
                  <span data-toggle="tooltip" data-placement="top" title="Show channel details"><%= fa_icon "info-circle opener" %> </span>
                  <span data-toggle="tooltip" data-placement="top" title="Preference"><%= fa_icon "cog" %></span>
                  <input class="form-control mr-sm-2 search" type="search" placeholder="Search">
                  <span data-toggle="tooltip" data-placement="top" title="Show starred items"><%= fa_icon "star" %></span>
                </div>
              </div>
            <hr>
          </div>

          <% unread_messages = false %>

          <div data-behavior='messages' data-chatroom-id='<%= @chatroom.id %>' id="message-wrapper">
              <% @messages.each do |message| %>
                <% if !unread_messages && check_message(message) %>
                  <% unread_messages = true %>
                  <div class="strike"><span>New Messages</span></div>
                <% end %>
                <%= render message, cache: true %>
              <% end %>
          </div>
            <div class="message-input">
              <%= form_with(model: [@chatroom, Message.new], id: "new_message", class: "new_message") do |form| %>
                <%= form.text_area :body, rows: 1, class: "form-control", id: "message_body", autofocus: true, placeholder: "Message #{@chatroom.name.split(' and ')[0]}" %>
              <% end %>
            </div>
          <%= render "chatrooms/add_topic", chatroom: @chatroom %>
        </div>

      </div>
    </div>
      <div class="col channel-details" id="channel-detail">
        <%= render "chatrooms/chatroom_details", chatroom: @chatroom %>
      </div>
  </div>
</div>








































































