
<div class="name-header">
  <p>
    <strong><%= @chatroom.name.capitalize %></strong> </br >
    <span class="users"><%= fa_icon "users" %> <%= show_user_count %>  |  <%= check_purpose %></span>
  </p>
  <hr>
</div>

<% unread_messages = false %>

<div data-behavior='messages' data-chatroom-id='<%= @chatroom.id %>' id="message-wrapper">
    <% @messages.each do |message| %>
    <% if !unread_messages && check_message(message) %>
    <% unread_messages = true %>
    <div class="strike"><span>New Messages</span></div>
    <% end %>
    <%= render message %>
    <% end %>
  </div>
  
  
  <%= form_with(model: [@chatroom, Message.new], id: "new_message", class: "new_message") do |form| %>
  <%= form.text_area :body, rows: 1, class: "form-control", id: "message_body", autofocus: true, placeholder: "Message #{@chatroom.name.split(' and ')[0]}" %>
  <% end %>
  <%= render "chatrooms/add_purpose" %>

