<div class="fluid-container">
    <nav class="navbar fixed-top navbar-expand-lg">
        <%= fa_icon "bars" %><%= link_to chatrooms_path, class: "navbar-brand" do %>
          Chattie
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
            <form id="demo-2" class="expanding-search form-inline my-2 my-lg-0">
              <input type="search" class="form-control expanding-search mr-sm-2" placeholder="Search" aria-label="Search">
              <button class="sr-only btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= fa_icon "user-circle" %>  <%= current_user.username %>
                  </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <%= link_to 'Settings', edit_user_registration_path, class: 'dropdown-item'%>
                    <hr>
                    <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'dropdown-item'%>
                </div>
              </li>

            <% else %>
            <li class="nav-item"> <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link'%></li>
            <li class="nav-item"><%= link_to 'Log in', new_user_session_path, class: 'nav-link'%></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>
