<!DOCTYPE html>
<html>
  <head>
    <title>Chattie</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render  "layouts/partials/navbar" %>
    <div class="fluid-container main">
      <div class="row">
        <div class="col-sm-2 left-side">
          <% if user_signed_in? %>
            <h3>Chatrooms</h3>
            <ul>
              <% current_user.chatrooms.each do |chatroom| %>
                <li><%= link_to chatroom.name, chatroom %></li>
                <% end %>
            </ul>
          <% end %>
        </div>

        <div class="col-sm-10 offset-sm-2 right-side">
          <%= yield %>
        </div>
      </div>
    </div>
    
  </body>
</html>
