<!DOCTYPE html>
<html>
  <head>
    <title>Chattie</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render  "layouts/partials/navbar" %>
    <%= render "layouts/partials/flash" %>

    <div class="fluid-container main">
      <div class="row">
        <div class="col-md-2 left-side">
          <%= render "layouts/partials/left_panel" %>
        </div>

        <div class="col-md-10 offset-md-2 right-side">
          <%= yield %>
        </div>
      </div>
    </div>
    
  </body>
</html>
