<!DOCTYPE html>
<html>
  <head>
    <title>Chattie</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
  </head>

  <body>
    <%= render  "layouts/partials/navbar" %>
    <%= render "layouts/partials/flash" %>

    <%= yield %>

  </body>
</html>
