<!DOCTYPE html>
<html>
  <head>
    <title>Chattie</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render  "layouts/partials/navbar" %>
    <%= render  "layouts/partials/success_alert" %>
    <div class="fluid-container main">
      <div class="row">
        <div class="col-sm-2 left-side">
          <% if user_signed_in? %>
            <h5>Chatrooms</h5>
            <ul>
              <% current_user.chatrooms.each do |chatroom| %>
                <li class="list"><%= fa_icon "hashtag bullet" %> <%= link_to chatroom.name, chatroom, data: {behavior: "chatroom-link", chatroom_id: chatroom.id} %></li>
                <% end %>
            </ul>
            <h5>Users</h5>
            <ul>
              <% (get_other_users).each do |user| %>
                <li class="list"><%= fa_icon "hashtag bullet" %> <%= link_to user.username, direct_message_path(user.id), data: {behavior: "chatroom-link", chatroom_id: Chatroom.direct_message_for_users([current_user, user]).id } %></li>
              <% end %>
            </ul>
          <% end %>

        </div>

        <div class="col-sm-10 offset-sm-2 right-side">
          <%= yield %>
        </div>
      </div>
    </div>
    
  </body>
</html>
